/* Single Posts Area */
.single-entry-header {
  h1, .entry-meta {
    text-align: center;
  }
  margin-bottom: 60px;
  margin-top: 10px;
  h1 {
    font-weight: bold;
    font-size: 44px;
    color: @content;
    text-shadow: 1px 1px 0 white, 2px 2px 0 fade(@accent,60%);
  }
  .entry-meta {
    color: @content;
    .byline {
      margin-left: 1px;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#primary-mono {
  padding: 0 10px;
  padding-left: 20px;
  @media screen and (max-width:767px) {
    padding-left: 10px;
  }
  h1.entry-title {
    font-weight: bold;
    color: darken(@content,15%);
    font-size: 26px;
    margin-top: 0px;
    padding: 10px;
    padding-left: 0;
    margin-bottom: 0px;
    &:after {
      content: "";
      display: block;
      width: 12%;
      height: 3px;
      margin-top: 17px;
      background: darken(@background,10%);
    }
  }
  .entry-meta {
    margin-top: 5px;
    font-size: 13px;
    color: lighten(@content, 6%);
  }
  .entry-meta, .entry-footer {
    padding-bottom: 7px;
    overflow: auto;
    .byline {
      margin-left: 1px;
    }
    a {
      color: @accent;
      text-decoration: none;
      &:hover {
        color: @content;
      }
    }
  }

  .entry-footer {
    border-top: solid 1px darken(@background,5%);
    border-bottom: solid 1px darken(@background,5%);
    padding-top: 7px;
    margin-top: 25px;
    font-size: 12px;
    .post-edit-link {
      float: right;

    }
    .cat-links {
      margin-right: 6px;
    }
  }

  .entry-content {
    color: @content;
    line-height: 1.7em;
    font-size: 14px;
  }

  #featured-image {
    margin-top: 10px;
  }
}

#primary-mono.page h1.entry-title:after {
  display: none;
}


.edit-link {
  display: inline-block;
  float: right;
}
.page-header {
  margin-top: 0px;
  border-bottom: none;
  h1 {
    font-size: 18px;
    font-weight: lighter;
    border-bottom: solid 1px #e1e1e1;
    display: inline-block;
    padding-bottom: 10px;
  }
}
#primary-mono .single-page .entry-header h1 {
  font-weight: bold;
  font-size: 34px;
  color: @content;
  text-shadow: 1px 1px 0 white, 2px 2px 0 fade(@accent,60%);
  text-align: center;
}